@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>Index</h1>
@* <h1>@Model.PickUpDate</h1>
<h1>@Model.PickUpTime</h1>
<h1>@Model.PickUpLocationId</h1>
<h1>@Model.DropOffDate</h1>
<h1>@Model.DropOffTime</h1>
<h1>@Model.DropOffLocationId</h1>

 *@
