@model List<ResultCarFeatureByCarIdDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";

    var successMessage = TempData["SuccessMessage"];
    var errorMessage = TempData["ErrorMessage"];
}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@if (successMessage != null)
{
    <script>
        swal({
            icon: "success",
            text: `@Html.Raw(successMessage)`,
            buttons: {
                catch: {
                    text: "Araç Listesine Dön",
                    value: "Cars",
                },
                defeat: "Kapat",
            },
        }).then((value) => {
            switch (value) {
                case "Cars":
                    window.location = `@Url.Action("Index", "Car", new { area = "Admin" })`;
                    break;
            }
        });
    </script>
}

@if (errorMessage != null)
{
    <script>
        swal("Hata!", `@Html.Raw(errorMessage)`, "error");
    </script>
}


<div class="col-xl-12">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title">
                Araca Ait Özellikler Listesi
            </h4>
            <p class="card-subtitle mb-4">
                Araca ait özellik eklemesi yapabilir, mevcut özellikleri kaldırabilir, ilgili güncellemeleri gerçeklestirebilirsiniz.
            </p>

            <form method="post">

                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="form-check">
                            <input type="hidden" asp-for="@Model[i].CarFeatureId" value="@Model[i].CarFeatureId" />
                            <input type="hidden" asp-for="@Model[i].FeatureName" value="@Model[i].FeatureName" />
                            <input type="checkbox" asp-for="@Model[i].Available" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model[i].Available">@Model[i].FeatureName</label>
                        </div>
                    }

                </div>
                <button class="btn btn-success mt-5">Kaydet</button>

            </form>

        </div>
    </div>
</div>
